<ul>
    <li *ngFor="let race of races" [class.racing]="race.isRacing">
      <h2>{{race.name|uppercase}}</h2>
      <p>{{race.date}}</p>
      <p>{{race.about}}</p>
      <button *ngIf="!race.isRacing" >Enter Race</button>
      <h3 *ngIf="race.isRacing">Already Racing</h3>
      <p>{{race.price|currency:'EUR':true}}</p>
      <p>{{race.inStock}}</p>
      <button class="increase" (click)="upQuantity(race)">+</button>
      <input class="number" [(ngModel)]="race.quantity"/>
      <button class="decrease" (click)="downQuantity(race)">-</button>
    </li>
</ul>